* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
    border: none;
    outline: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: 'inter', sans-serif;
    background: $back-gray;
}
