.footer {
    .container {
        .footer_content {
            width: 100%;
            height: 195px;
            background: $footer-gradient;
            display: flex;
            align-items: center;
            .logos {
                display: flex;
                gap: 55px;
                .arrow {
                    margin-top: 25px;
                    margin-left: 40px;
                    width: 64px;
                    height: 64px;
                    background-color: #ffffff;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .logos_info{
                    h2{
                        font-weight: 700;
                        font-size: 25px;
                        text-transform: uppercase;
                        line-height: 25px;
                        margin-bottom: 15px;
                    }
                    p{
                        font-weight: 500;
                        font-size: 12px;
                        color: $description;
                        margin-bottom: 7px;
                    }
                    a{
                        margin-bottom: 5px;
                        display: block;
                        text-decoration: underline;
                        font-size: 14px;
                        font-weight: 500;
                        color: $description;
                    }
                }
            }
            .links{
                display: flex;
                gap: 35px;
                margin-left: 90px;
                a{
                    font-weight: 500;
                    font-size: 20px;
                }
            }
        }
    }
}
