.header{
    background: #403C3B;
    height: 99px;
    background: linear-gradient(360deg, #211F20 0%, #44403F 0%);
    .container{
        .header_content{
            display: flex;
            justify-content: center;
            padding: 23px 0;
            .logo{
                display: flex;
                align-items: center;
                margin-right: 72px;
                h1{
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 25px;
                }
            }
            .search{
                display: flex;
                gap: 10px;
                border-radius: 10px;
                background-color: $search-gray;
                width: 555px;
                height: 52px;
                align-items: center;
                justify-content: space-between;
                padding: 15px;
                margin-right: 30px;
                img{
                    width: 24px;
                    height: 24px;
                }
                .left_content{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .search_input{
                        background-color: transparent;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 21px;
                    }
                }
                .right_content{
                    .search_icon{
                        cursor: pointer;
                    }
                }
            }
            .contact{
                display: flex;
                gap: 10px;
                align-items: center;
                margin-right: 188px;
                .contact_logo{
                    background: $call-green;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 16px;
                        height: 16px;
                        display: flex;
                    }
                }
                .number{
                    width: 156px;
                    height: 39px;
                    p{
                        font-size: 12px;
                        color: rgba(255, 255, 255, 0.64);
                    }
                }
            }
            .basket{
                display: flex;
                width: 150px;
                height: 52px;
                background: $call-green;
                border-radius: 10px;
                justify-content: center;
                align-items: center;
                gap: 12px;
                .title{
                    font-weight: 600;
                    font-size: 14px;
                    border-right: 1px solid #ffffff;
                    height: 38px;
                    padding-right: 12px;
                    display: flex;
                    align-items: center;
                }
                .quantity{
                    border-radius: 50%;
                    width: 24px;
                    height: 24px;
                    background-color: #ffffff;
                    color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                    font-size: 12px;
                }
            }
        }
    }
}
