.main{
    .container{
        .main_content{
            background-image: url('/images/icons/main-banner.png');
            width: 100%;
            height: 684px;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
