$search-gray: #504B4A;
$back-gray: linear-gradient(360deg, #211F20 0%, #44403F 100%);
$call-green : linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
$active-green: #618967;
$product_card: linear-gradient(90deg, #494544 0%, #504B4A 100%);
$description: #CFCFCF;
$quantity-card: #79B282;
$contact-card: #2E2B2C;
$banner-card: rgba(80, 75, 74, 0.95);
$footer-gradient:  linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%) ;


