$search-gray: #504B4A;
$back-gray: linear-gradient(360deg, #211F20 0%, #44403F 100%);
$call-green : linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
$active-green: #618967;
$product_card: linear-gradient(90deg, #494544 0%, #504B4A 100%);
$description: #CFCFCF;
$quantity-card: #79B282;


